tools/flver_editor/*
!tools/flver_editor/.gitkeep

tools/smithbox/*
!tools/smithbox/.gitkeep

tools/witchybnd/*
!tools/witchybnd/.gitkeep
!data/icons/.gitkeep
data/icons/*.png

[Bb]in/
[Oo]bj/

*.db
*.db-shm
*.db-wal
*.sqlite

.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

packages/
.nuget/

*.log
Thumbs.db
ehthumbs.db
Desktop.ini